.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 190px);
}

.page404__number {
  font-size: 150px;
  color: var(--secondary-color);
}

.page404__text {
  width: 400px;
  font-size: 64px;
  text-align: center;
  margin: 0 0 40px 0;
}
