.nav__list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__link {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: var(--base-color);
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--secondary-color);
}