.header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__nav-list li a {
    text-decoration: none;
    color: var(--base-color);
}

.header__logo {
    display: block;
}

.header__order {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__order-search {
    border: 0;
    outline: none;
    background-image: url(../images/magnifying-glass.svg);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.header__order-basket {
    position: relative;
}

.header__order-basket::before {
    content: '10';
    width: 15px;
    height: 15px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 50%;
    font-size: 8px;
    position: absolute;
    top: -8px;
    right: -8px;
}

.header__order-price {
    font-weight: 800;
}

.price__count {}