.input__textbox {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--grey-color);
  background-color: var(--white-color);
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 0 0 0 transparent;
}

.input__textbox:focus {
  box-shadow: 0 0 0 2px var(--grey-dark-color);
}

.input__message {
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 10px;
  color: var(--grey-color);
  position: absolute;
}

.input_success .input__textbox {
  border: 1px solid var(--success-color);
  box-shadow: 0 0 0 2px var(--success-color);
}

.input_success .input__message {
  color: var(--success-color);
}

.input_error .input__textbox {
  border: 1px solid var(--error-color);
  box-shadow: 0 0 0 2px var(--error-color);
}

.input_error .input__message {
  color: var(--error-color);
}

.input_labeled .input__textbox {
  padding: 10px 10px 10px 30px;
}

.input_labeled .input__label {
  font-size: 14px;
  font-weight: 300;
  color: var(--grey-color);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
